*, *::before, *::after{
    box-sizing: border-box;
    font-family: Gotham Rounded;
}

:root {
    --hue-neutral: 2001;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body{
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

.movie-img img{
    margin-top: 40px;
    width: 900px;
    height: 60%;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}
.movie-img{
    text-align: center;
    display: block;
}

.container{
    width: 1000px;
    /* height: 100%; */
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}


#start-btn{
    font-size: 2em;
    font-weight: bolder;
    word-break: break-all;
    width:400px;
    height:250px;
    border : 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    /* position: relative;
    left: 42.5%; */
    /* position: absolute; */
    /* left:300px;
    top:50px; */
    color : lightgrey;
}
#start:hover{
    border: 3px solid lightseagreen;
    color : lightseagreen;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}

#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}





