*, *::before, *::after{
    box-sizing: border-box;
    font-family: Gotham Rounded;
}

html { 
    background: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

:root {
    --hue-neutral: 2001;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

.movie-img img{
    background-color: #e2cece;
    margin-top: 40px;
    width: 900px;
    height: 60%;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
}
.movie-img{
    text-align: center;
    display: block;
}

/* #progress{
    position: absolute;
    bottom: 3%;
    
} */

.btn-a{
    color: #1d1b1b;
    border: 1px solid white;
    padding: 20px 80px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: #e2cece;
    border-radius: 5px;
}

.btn-b{
    color: #1d1b1b;
    border: 1px solid white;
    padding: 20px 80px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: #e2cece;
    border-radius: 5px;
}

.btn-c{
    color: #1d1b1b;
    border: 1px solid white;
    padding: 20px 80px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: #e2cece;
    border-radius: 5px;
}

.btn-d{
    color: #1d1b1b;
    border: 1px solid white;
    padding: 20px 80px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: #e2cece;
    border-radius: 5px;
}

.container{
    display: inline;
    width: 800px;
    /* height: 100%; */
    max-width: 70%;
    background-color: #30080ab8;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}


#start-btn{
    background-color: #e2cece;
    font-size: 2em;
    font-weight: bolder;
    word-break: break-all;
    width:400px;
    height:250px;
    border : 2px solid lightgrey;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    /* position: relative;
    left: 42.5%; */
    /* position: absolute; */
    /* left:300px;
    top:50px; */
    color : #290303;
}

#counter{
    font-size: 3em;
}

#start:hover{
    border: 3px solid lightseagreen;
    color : lightseagreen;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}

#countdown{
    display: inline-flex;
    align-items: center;
    justify-self: center;
    font-size: 50px;
    height: 70px;
    width: 100px;
}

#progress{
    color: white;
}

.score-container{
    margin: 30px;
    font-size: x-large;
    color: white; 
}

#timer{
    color: white;
}


